header {
        

    font-family: 'Georgia', Times, Times New Roman, serif;
    width: 100%;
    background-color: whitesmoke;
    align-self: auto;
    border-bottom: 1px;
    border-bottom-color: gray; 
}

body {
    
    width: 100%;
    background-image: url("images/qbkls.png")
}


.name {

    color: white;
    background: #4aaaa5;
    float: left;
    padding: 20px;
    
}

nav {

    float: right;
    padding: 30px;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    color: gray;
    border-bottom: 1px;
    border-bottom-color: gray;
    
}

.link {
    margin-right: 20px;
}

#first {
    display: block;
    height: 1px;
    border: 0;
    border-top: 2px solid #ccc;
    margin: 0;
    padding: 0;
}

#second {

    display: block;
    height: 1px;
    border: 0;
    border-top: 2px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

#third {

    display: block;
    height: 1px;
    border: 0;
    border-top: 5px solid #4aaaa5;
    margin: 0;
    padding: 0;
    width: 100%
}

.subheader {
    
    color: #4aaaa5;
}

#bio-image {
    width: 200px;
    height: 200px;
    padding: 20px;
    float: left;
    margin: 0 20px 20px 0;
  }


section {

    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    color: gray;
    margin: auto;
    padding: 20px;
}
  
textarea {
    
    width: 800px; 
    height:200px;
}

footer {
    text-align: center;
    background-color: dimgray;
    color: white;
    font-size: 10px;
}

.box {

    background-color: whitesmoke;
    text-align: justify;
    margin: 20px 175px;
    padding: 20px;
    width: 960px;
}

p {
    text-align: justify;
}

a:link {
    text-decoration: none;
    color: gray;
}

a:visited {
    text-decoration: none;
    color: gray;
}

a:hover {
    text-decoration: none;
    color: gray;
}

a:active {
    text-decoration: none;
    color: gray;
}

html, body {
    height: 100%;
  }

body {
    display: flex;
    flex-direction: column;
  }


.footer {
    color: whitesmoke;
    background-color: dimgray;
    text-align: center;
    padding-top: 40px;
    width: 100%; 
  }