header {
        

    font-family: 'Georgia', Times, Times New Roman, serif;
    padding: 20px 0;
    margin: 0;
    margin-bottom: 20px;
    width: 960px;
    
}

body {
    
    width: 960px;
    background-image: url("qblks.png")
}


.name {

    color: white;
    background: #4aaaa5;
    float: left;
}

#about {

    float: right;
    padding: 10px;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    color: gray;
}

#contact {

    float: right;
    padding: 10px;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    color: gray;
}

#portfolio {

    float: right;
    padding: 10px;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    color: gray;
}

hr {

    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

.subheader {
    
    color: #4aaaa5;
}

#bio-image {
    width: 200px;
    height: 200px;
    margin-right: 20px;
  }


section {

    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    color: gray;
}
  
textarea {
    
    width: 800px; 
    height:200px;
}

footer {
    text-align: center;
    background-color: dimgray;
    color: white;
}

.box {

    background-color: whitesmoke;
}